@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Carter One', cursive;
}
.titulo{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-style: italic;
    text-shadow: 0px 5px 10px black;
}
.fondo{
    background-image: url(codigo.jpg);
    background-position: center;
    height: 400px;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 50px;
}
.me{
    color: black;
    font-size: 20px;
    text-align: center;
}
.flecha{
    display: flex;
    margin-top: 50px;
    gap: 50px;
    justify-content: center;
    flex-direction: row;
}
.fl{
    width: 50px;
    height: 50px;
}
.pie{
    color: white;
    margin-top: 100px;
    background-image: linear-gradient(to left, gray,white,lightgray,black);
    height: 200px;
}
.contact{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
}
.contactos{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.icon{
    width: 50px;
}
.info{
    text-align: center;
    margin-bottom: 50px;
}
.fotos{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-direction: row;
    
}
.img{
    border: solid 1px black;
    box-shadow: 0px 10px 10px black;
    border-radius: 100px;
    height: 90px;
    width: 90px;
}

@media screen and (min-width:480px){
    .fotos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}